<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <section class="header">
        <div class="left-header">
            <h1>Hello, Members!</h1>
        </div>
        <div class="right-header">

        <%= button_to "New Post", new_post_path, method: :get, class: "header-button" %>
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "header-button" %>
        </div>
    </section>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
